<footer class="bg-dark  py-2">
	<div class="container">
		<section id="contact" class="my-5 text-center">
			<h2 class='text-white'>Контактна інформація</h2>
			<p>Телефон: +38 (0472) 33-44-55</p>
			<p>Email: info@mbk.ck.ua</p>
			<p>Адреса: м. Черкаси, вул. Смілянська, 33</p>
		</section>
		<div class="row">
			<div class="col-md-6 text-white">
				<p>&copy; 2024 Будинок культури Черкаси. Всі права захищені.</p>
			</div>
			<div class="col-md-6 text-end">
				<a href="https://www.facebook.com/mbk.kulyka?locale=sw_KE" class="text-white me-2"><i
						class="fab fa-facebook-f"></i></a>
				<a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
				<a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</div>
</footer>